<div class="container-fluid registration py-5">
  <div class="row">
    <div class="offset-2">
      <h2 class="red-border px-3">新規会員登録</h2>
    </div>
  </div>




  <div class="row mt-3">
    <div class="offset-4 col-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "customers/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :お名前, class: "brown-border px-3" %>
        <div class="row">
          <%= f.text_field :last_name, placeholder:"姓 例）長野", class: "form-control offset-1 col-5" %>
          <%= f.text_field :first_name, placeholder:"名 例）恵子", class: "form-control offset-1 col-5" %>
        </div>
        <div class="row">
          <%= f.text_field :last_name_katakana, placeholder:"セイ 例）ナガノ", class: "form-control offset-1 col-5" %>
          <%= f.text_field :first_name_katakana, placeholder:"メイ 例）ケイコ", class: "form-control offset-1 col-5" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :郵便番号, class: "brown-border px-3" %>
        <%= f.text_field :postal_code, placeholder:"例）1510001", class: "form-control offset-1 col-11" %>
      </div>

      <div class="form-group">
        <%= f.label :住所, class: "brown-border px-3" %>
        <%= f.text_field :address, class: "form-control offset-1 col-11" %>
      </div>

      <div class="form-group">
        <%= f.label :電話番号, class: "brown-border px-3" %>
        <%= f.text_field :telephone_number, placeholder:"例）080xxxxxxxxx", class: "form-control offset-1 col-11" %>
      </div>
      
      <div class="form-group">
        <%= f.label :メールアドレス, class: "brown-border px-3" %>
        <%= f.email_field :email, placeholder:"例）sample@example.com", class: "form-control offset-1 col-11" %>
      </div>

      <div class="field">
        <%= f.label :パスワード ,class: "brown-border px-3"%>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control offset-1 col-11" %>
      </div>

      <div class="field">
        <%= f.label :パスワード,class: "brown-border px-3"%><br />
        <%= f.password_field :password_confirmation, class: "form-control offset-1 col-11" %>
      </div>

      <div class="row">
        <%= f.submit "会員登録", class: "btn btn-lg btn-danger mx-auto" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "customers/shared/links" %>
