<div class="container my-5">
  <div class="row">
    <div class="offset-1">
      <%= flash[:order_new] %>
      <h2 class="red-border px-3">注文情報入力</h2>
    </div>
  </div>

  <div class="row mt-5">
    <div class="offset-2 col-5">

<!-- 支払い方法選択 -->
      <div class="row">
        <strong class="red-border px-3">お支払い方法</strong>
      </div>

      <%= form_with model:@order, url: orders_confirm_path ,local:true do |f|%>
        <div class="form-check mt-3">
          <%= f.radio_button :payment_method,Order.payment_methods.key(0),checked: true  %>
          <%= f.label :payment_method,Order.payment_methods_i18n[:credit_card] %>
          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
　　　　　<%= f.label :payment_method,Order.payment_methods_i18n[:transfer] %>
        </div>

<!-- お届け先選択 -->
        <div class="row mt-3">
          <strong class="red-border px-3">お届け先</strong>
        </div>

        <div class="form-check mt-3">
          <tr>
              <%= f.radio_button :address_number,0, checked: true %>
              <%= f.label :address_number, "ご自身の住所" %>
              <p class="my-address"><%= "〒" + current_customer.postal_code + current_customer.address +
              current_customer.last_name + current_customer.first_name %></p>
          </tr>

           <tr>
              <%= f.radio_button :address_number ,1 %>
              <%= f.label(:address_number, "登録済住所から選択") %>

              <p class="registered-address">
                <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :full_address) , class: "form-control col-sm-8"%>


              </p>

            </tr>










<!-- 新しいお届け先 -->
     <tr>
        <%= f.radio_button :address_number,2 %>
        <%= f.label(:address_number, "新しいお届け先を登録する") %>
      </tr>



        <div class="form-group row mt-3">
          <%= f.text_field :postal_code, placeholder: "郵便番号", class: "form-control offset-1 col-10" %>
        </div>

        <div class="form-group row">
          <%= f.text_field :address, placeholder: "住所", class: "form-control offset-1 col-10" %>
        </div>

        <div class="form-group row">

          <%= f.text_field :name, placeholder:"名前", class: "form-control offset-1 col-10" %>
        </div>

        <div class="row">
          <%= f.submit '確認画面に進む', class: "btn btn-sm btn-outline-danger ml-auto" %>
        </div>

        <% end %>
    </div>


  </div>
</div>
</div>